*{
  margin: 0 px;
  padding: 0 px;
  font-family: sans-serif;
}

.tiger{
      position: absolute;
      width: 100%;
      height: 200vh;
      background: #e5e6e2;
}
.tiger nav{
    display:flex;
    width:84%;
    margin: auto;
    padding: 20px 0;
    align-items:center ;
    justify-content: space-between ;
    font-size: 30px;
}

.tiger nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.tiger nav ul li a{
    text-decoration: none;
    color: rgb(26, 217, 70);
    font-family: bold;
}

.tiger nav ul li a:hover{
    color: blue;

}

.roar{
    padding-left: 10;
    margin-left: 8%;
    margin-top: 15%;
}

.roar h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color:violet;
}

.roar p{
    color: rgb(15, 8, 8);
    line-height: 34px;
    font-size:25px;
    font-family: cursive;
}

.roar a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(222, 213, 213);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.roar img{
    float: right;
    margin-top: -500px;
    margin-right: 150px;

}
logo{
    height: 5vh;
    width: 10vh;
}
